# Python 기본
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log

# 가상환경
.venv/
env/
venv/
ENV/

# 환경변수 / 비밀키
.env
.env.*

# IDE
.vscode/
.idea/

# OS / 에디터별
.DS_Store
Thumbs.db
*.swp
*.swo

# Uvicorn/fastapi 관련 캐시
*.db
*.sqlite3

# 테스트 결과
htmlcov/
.coverage
.cache/
pytest